.post {
  margin-bottom: 24px;
  display: flex;
  width: fit-content;
  flex-direction: column;
  gap: 4px;

}

.postDeleted {
  margin-bottom: 24px;
  display: flex;
  width: fit-content;
  flex-direction: column;
  gap: 4px;
  opacity: 0.3;
}